{% extends 'navbar.html' %}
{%block content %}
    <section class="input" style="width: 80% ; display:flex; justify-content:center; ">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <form  action="{{url_for('add')}}" method="POST">
            <div class="form-group">
              <label for="name">Nom</label>
              <input type="text" class="form-control" id="name" name="filmName" placeholder="Enter name">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control" id="description" name="filmDescription" placeholder="Enter description">
            </div>
            <div class="form-group">
                <label for="poster">Poster</label>
                <input type="text" class="form-control" id="poster" name="filmPoster" placeholder="Enter Poster">
              </div>
           
            <button type="submit" class="btn btn-primary">Ajouter</button>
          </form>

        
    </section>

{% endblock %}
